﻿@model IEnumerable<Data.Entidades.Producto>
@{
    ViewBag.Title = "Index";
}

<h3>Productos</h3>
@Html.ActionLink("Nuevo Producto","Crear",null,new {@class="btn btn-success" })<br />
<br />

<table class="table table-striped"><br />
    <tr>
        <th>Id</th>
        <th>Nombre </th>
        <th>Categoria</th>
        <th>Cantidad</th>
        <th>Porcentaje</th>
        <th>Disponible</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr style="align-content:center">
        <td>@item.Id</td>
        <td>@item.Descripcion</td>
        <td>@item.Categoria.Descripcion</td>
        <td>@item.Cantidad</td>
        <td>@item.PorcentajeGanancia</td>
        <td>@Html.DisplayFor(p => item.Disponible)</td>
        <td>@Html.ActionLink("Modificar", "Modificar", new { @id = item.Id }, new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("Eliminar", "Index", null, new { @class = "btn btn-danger" })</td>
    </tr>
    }
</table>