﻿@model IEnumerable<Data.Entidades.Cliente>
@{
    ViewBag.Title = "Index";
}

<h3>Clientes</h3>

@Html.ActionLink("Nuevo Cliente","Crear",null, new { @class = "btn btn-success" })<br />
<table class="table table-striped"><br />
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Direccion</th>
        <th>Email</th>
        <th>Telefono 1</th>
        <th>Telefono 2</th>
        <th>Telefono 3</th>
        <th>Fecha Creacion</th>
        <th>Disponible</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Nombre</td>
        <td>@item.Documento</td>
        <td>@item.Direccion</td>
        <td>@item.Email</td>
        <td>@item.Telefono1</td>
        <td>@item.Telefono2</td>
        <td>@item.Telefono3</td>
        <td>@item.FechaCreacion</td>
        <td>@Html.DisplayFor(p => @item.Disponible)</td>
        <td>@Html.ActionLink("Modificar", "Modificar", new { @id = item.Id }, new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("Eliminar", "Index", null, new { @class = "btn btn-danger" })</td>
    </tr>
    }
</table>