﻿@model Facturacion.Models.ProductoFactura
@{
    ViewBag.Title = "AgregarProducto";
}

<h2>Agregar Producto</h2>

@using (Html.BeginForm())
{
<div>
    <div>
        <div>@Html.LabelFor(model => model.Id)</div>
        <div>
            @Html.DropDownList("Id", (SelectList)ViewBag.ProductoId, new { @class = "form-control" })
        </div>
    </div>
    <div>
        <div>@Html.LabelFor(model => model.Cantidad)</div>
        <div id="Cantidad">@Html.EditorFor(model => model.Cantidad)</div>
    </div>
    <div>
        <div>@Html.LabelFor(model => model.Precio)</div>
        <div id="Precio">@Html.EditorFor(model => model.Precio)</div>
    </div>
  
</div>
    <input type="submit" name="AgregarProducto" id="Agregar" value="Agregar" />
}
@Html.ActionLink("Regresar sin Agregar","NuevaFactura")
